<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

    <link rel="stylesheet" href="./static/style.css" />

    <title>Conquest Mindfulness</title>

</head>
<body class="index">
    <!-- Settin up navigation bar -->
    <div class="topnav">
      <a href="/index">Logout</a>
    </div>

    <!-- Setting up buttons for access-->
    <div class="buttons">
        <a href="/meditation" class="button" >Meditation</a>
        <a href="/journal" class="button">Journal</a>
        <a href="/study" class="button">Study</a>
    </div>

    <script src="./static/app.js"></script>
</body>

</html>