{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
Conquest Mindfulness
{% endblock %}

{% block content%}

<body class="index">
    <!-- Settin up navigation bar -->
    <div class="topnav">
      <a href="/" class="btn btn-secondary-outline" type="button">Logout</a>
    </div>

    <!-- Setting up buttons for access-->
  <div class="d-grid gap-2 col-6 mx-auto justify-content-center" style="margin-top: 170px;">
        <a href="/meditation" class="btn btn-outline-warning btn-lg" type="button"  style="margin-top: 15px;">Meditation</a>
        <a href="/journal" class="btn btn-outline-warning btn-lg" type="button" style="margin-top: 15px;">Journal</a>
        <a href="/study" class="btn btn-outline-warning btn-lg" type="button" style="margin-top: 15px;">Study</a>
    </div>
</body>
{% endblock%}