{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
Conquest Mindfulness
{% endblock %}

{% block content%}

<body class="index">
    <!-- Settin up navigation bar -->
    <div class="topnav">
      <a href="/">Logout</a>
    </div>

    <!-- Setting up buttons for access-->
    <div class="buttons">
        <a href="/meditation" class="button" >Meditation</a>
        <a href="/journal" class="button">Journal</a>
        <a href="/study" class="button">Study</a>
    </div>
</body>
{% endblock%}