{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
Sign Up
{% endblock %}

{% block content %}

<body class="form">
    <div class="shadow p-3 mb-5 bg-body rounded" style="width: 330px; margin-left: 500px; margin-top: 25px;">
        <div class="clas-body">
            <form class="form-signin" method="POST" action="/signup">
                <h2 class="form-signin-heading">Sign Up</h2>
                {{ form.hidden_tag() }}
                {{ wtf.form_field(form.username) }}
                {% if msg %}
                <p class="text-danger">{{ msg }}</p>
                {% endif%}
                {{ wtf.form_field(form.email) }}

                {% if msg1 %}
                <p class="text-danger">{{ msg1 }}</p>
                {% endif%}
                {{ wtf.form_field(form.password) }}
                <button class="btn btn-success" type="submit" style="width: 268px;">Sign Up</button>
                <a href="/" class="btn btn-primary" type="button" style="width: 268px; margin-top: 15px;">Cancel</a>
            </form>
        </div>
    </div>
</body>

{% endblock %}